# **CODERHOUSE DS - 22745**
## Clase 6. Introducción a la manipulación de datos con Pandas (Parte II)

## Objetivos

Al final de esta sesión habrás:

**1.** Conocer las estructuras de datos en `pandas`. <br>
**2.** Comprender el uso de `pandas` para la manipulación de grandes volúmenes de datos. <br>

## 1. Librería `pandas`

En la sesión anterior, utilizamos el paquete `pandas` asd

In [2]:
import pandas as pd

### 1.1. Lectura de archivos

A diferencia del paquete `numpy`, la librería `pandas` permite manipular información de diversas fuentes. Con invocar un función, es posible transformar estas fuentes en objetos `Dataframe` dentro del entorno de Python.<br>

#### Importar archivos en formato `.csv`

Los archivos delimitados por comas o 'csv' son uno de los formatos de archivos más comunes en el procesamiento de datos.

In [5]:
pd.read_csv('dataInput/pune_1965_to_2002.csv')

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951
5,1970,0.070,0.000,0.001,16.218,68.036,300.546,330.502,283.476,158.640,115.758,0.260,0.000
6,1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
7,1972,0.000,0.029,0.000,5.982,19.101,132.413,338.484,68.741,120.415,1.078,24.089,0.143
8,1973,0.000,2.969,0.234,3.925,14.978,304.484,696.024,256.932,183.206,101.805,5.516,0.000
9,1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
10,1975,0.333,0.585,0.000,0.061,30.651,359.369,474.143,404.372,400.001,105.560,2.763,0.000
11,1976,0.000,0.000,5.993,4.454,3.577,773.737,545.379,436.912,108.459,13.611,44.887,4.158
12,1977,0.000,2.981,3.289,4.432,32.130,319.716,407.246,129.678,89.150,83.193,122.809,7.530
13,1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
14,1979,0.000,0.386,3.343,0.126,6.860,342.324,403.925,451.153,440.381,19.084,101.597,0.008
15,1980,0.008,0.000,8.329,28.764,4.816,349.975,344.268,404.191,94.127,10.826,15.533,7.348
16,1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
17,1982,0.000,0.560,0.000,14.585,50.468,145.343,186.691,194.307,239.402,49.257,62.474,0.000
18,1983,0.395,0.000,0.000,0.061,1.056,225.847,390.041,537.764,428.050,30.771,1.008,1.955
19,1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
20,1985,0.025,0.000,0.922,11.512,6.458,234.930,325.191,297.802,88.877,139.919,108.561,0.655
21,1986,0.000,1.229,0.000,4.567,22.547,635.977,202.570,247.395,105.095,3.746,7.457,37.386
22,1987,3.013,8.410,1.367,3.864,80.539,200.950,172.864,477.113,44.574,150.179,18.281,36.845
23,1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
24,1989,0.008,0.000,9.619,20.774,20.176,425.984,484.451,177.257,236.803,23.424,0.585,0.943
25,1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
26,1991,0.004,0.071,0.972,27.964,30.405,565.900,479.719,193.423,178.727,4.135,15.936,0.000
27,1992,0.000,0.000,0.000,3.165,9.580,227.180,321.551,428.764,287.582,40.079,5.982,0.000
28,1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
29,1994,0.879,0.325,2.415,16.823,33.378,749.030,707.986,230.898,115.509,116.348,14.098,0.000
30,1995,0.695,0.000,1.770,25.949,23.964,163.515,501.461,114.206,288.262,84.359,4.866,0.021
31,1996,0.016,2.779,0.087,6.318,5.134,453.607,558.586,212.489,203.642,176.471,12.202,0.000
32,1997,1.284,0.000,0.747,23.912,4.664,673.831,422.913,541.579,60.477,31.050,65.392,18.991
33,1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
34,1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
35,2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
36,2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
37,2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

#### Formato `.csv` con delimitador `;`

Dentro de los archivos de ejmeplo hay uno denominado `"DiccionarioPaises.csv"` que se diferencia del anterior dado que su separador no es una `,` sino un `;`. Esto se puede solucionar muy fácilmente usando `pandas` al establecer el delimitador.<br>
    
    read_csv( "nombre_archivo.csv", delimiter = ';)

In [6]:
pd.read_csv("dataInput/DiccionarioPaises.csv", encoding = "UTF-8", delimiter = ";")

    País en español País en inglés
0        Afganistán    Afghanistan
1           Albania        Albania
2          Alemania        Germany
3           Andorra        Andorra
4            Angola         Angola
..              ...            ...
204         Vietnam        Vietnam
205           Yemen          Yemen
206          Yibuti       Djibouti
207          Zambia         Zambia
208        Zimbabue       Zimbabwe

[209 rows x 2 columns]

#### Importación de archivos en formato Excel `.xls` o `.xlsx`

Quienes apenas empiezan a incursionar en el mundo de la analítica de datos, pueden haber tenido experiencia previa con archivos de MS-Excel, para este ejercicio se plantea el documento `"ArchivoSoporteS3TU1.xlsx"`, el cuál puede ser fácilmente importado mediante `pandas` con una estructura similar a la siguiente:<br>
    
    read_excel(file = "nombre_archivo.xlsx")

In [12]:
# TODO: DOES NOT WORK
pd.read_excel(file = "dataInput/ArchivoSoporteS3TU1.xlsx")

TypeError: read_excel() got an unexpected keyword argument 'file'

#### Formato `.dta`

Uno de los archivos de ejemplo fué llamado `"pooled_data_public.dta"` que contiene la base de datos completa del BID. Este archivo, al ser de tipo *.dta*, requiere de una función de `pandas` para ser importado a Python.<br>
    
    read_stata(file = "nombre_archivo.dta")

Es un formato interesante ya que excel soporta como maximo hasta el millon y medio de tuplas aprox.

In [ ]:
pd.read_stata("pooled_data_public.dta", index_col = 'id')

### 1.2. Exploración de bases de datos

Explorar bases de datos es uno de los pasos esenciales en cualquier proyecto de analítica de datos, pues nos permite identificar aspectos útiles del caso de estudio.<br>

#### Establecer un índice usando el método set_index()

Consideremos nuevamente el archivo `.csv ` del inicio del Notebook. Este corresponde a mediciones de precipitaciones o lluvias (en milímetros). ¿Cómo podríamos indicar a Python que la columna `year` debería ser leída como un índice?

In [ ]:
df = pd.read_csv('dataInput/pune_1965_to_2002.csv')
df = df.set_index('Year')
df

#### Métodos comunes para inspeccionar Dataframes

A continuación veremos algunos de los métodos que tiene el paquete `pandas` para inspeccionar rápidamente los datos a disposición, que resultan de mucha utilidad para conocer las caracterísitcas de la información cargada.

* `head`:
muestra las primeras n filas.

In [ ]:
df.head(5)

* `tail`:
muestra las últimas n filas.

In [ ]:
df.tail(5)

* `columns`: muestra los nombres de las columnas del `DataFrame`.

In [ ]:
df.columns

* `info`: muestra la información general del `DataFrame`.

In [ ]:
df.info()

* `describe`: muestra medidas de tendencia de las columnas numéricas del `DataFrame`.

In [ ]:
# Descripción de los datos por sus columnas
df.describe()

In [ ]:
# Descripción de los datos por sus Índices
df.T.describe().round()

* `dtypes`: muestra el tipo de dato de cada columna del `DataFrame`.

In [ ]:
# Tipos de datos de las columnas del Dataframe
df.dtypes

* `unique`: muestra los datos únicos de una columna del `DataFrame`.

In [ ]:
# Establecer los valores únicos de la columna Enero
df["Jan"].unique()

* `max`: muestra el valor máximo de una columna o índice de un `DataFrame`.

In [ ]:
# Calcular el máximo año del índice
df.index.max()

* `min`: muestra el valor minimo de una columna o índice de un `DataFrame`.

In [ ]:
# Calcular el mínimo año del índice
df.index.min()

* `sum`: muestra la suma de todos los valores de una columna en específico.

In [ ]:
# Suma de los datos de cada mes
datos.sum()

* `mean`: muestra el promedio de todos los valores de un objetoen específico.

In [ ]:
# Promedio de precipitaciones en cada año
datos.mean(axis = 'columns')

#### Operaciones con datos `String`

A menudo, tendremos que trabajar con datos en forma de Strings, es decir cadenas de caracteres o texto. Para estos ejemplos, usaremos el dataset de presidentes de EEUU.

In [ ]:
# Leer archivo de datos usando Pandas

datos = pd.read_csv("us_presidents 2.csv")
datos

* el método `str.upper()` permite convertir texto a mayúscula

In [ ]:
datos['president'].str.upper()

* Usando `str.len()` se puede conocer la longitud total, incluyendo espacios y otros caracteres que puedan aparecer

In [ ]:
datos['president'].str.len()

* Empleando `str.split()` se convertir los elementos en una lista.

In [ ]:
datos['president'].str.split()

#### Método `Group by`

El método groupby permite realizar las siguientes tres operaciones a la vez: 
* (1) Separar en grupos el `DataFrame` de acuerdo a un criterio.
* (2) Aplicar una función a cada grupo. 
* (3) Combinar los resultados en un nuevo `DataFrame`.

La sintaxis para usar groupby es la siguiente:

    pandas.DataFrame.groupby(by, axis, level)

* **by:** indica el criterio para realizar el paso (1). Puede usarse un diccionario, un `Series`, entre otros.

* **axis:** por defecto es 0. <br><br>
    * `axis = 1`: indica que vamos a agrupar columnas. <br>
    * `axis = 0`: indica que vamos a agrupar filas.<br><br>

* **level:** indica por nombre o por posición a cuál de los niveles del índice múltiple se le aplicará el método.

In [ ]:
# Importación de los datos
Demografia = pd.read_excel("dataInput/ArchivoSoporteS3TU1.xlsx")
Demografia

In [ ]:
Demografia.groupby('Ciudad Residencia')['Ingresos'].mean()

### 1.3. Series de Tiempo

Son tipos de datos especiales donde el tiempo toma un rol fundamental. Observamos cambios en los valores de la variable a lo largo del tiempo. Si ignoramos esa dimensión temporal, los valores pierden contexto. <br>

Python provee tres tipos de datos relacionados al tiempo:
* **Timestamp** o marca de tiempo: representan un punto en el tiempo. Por ejemplo, fecha y hora.
* **Período**: representan un intervalo de tiempo. Por ejemplo, los minutos transcurridos desde que comenzó la clase hasta ahora.
* **Duración**: representa una duración medida en tiempo, pero independientemente del momento en que sucede. Por ejemplo, 15 minutos.

#### Convertir String a Timestamp

In [ ]:
fecha = pd.to_datetime('03/01/2020',dayfirst=True)
fecha

#### Crear un rango de fechas

In [ ]:
fin = pd.to_datetime('10/01/2020',dayfirst=True)
fechas_1 = pd.date_range(start=fecha, end=fin)
fechas_1

#### Periodos de tiempo en rangos (dias)

In [ ]:
fechas_2 = pd.date_range(start=fecha, periods=8)
fechas_2

#### Periodos de tiempo en rangos (meses)

In [ ]:
fechas_3 = pd.date_range(start= fecha, periods= 8, freq='M')
fechas_3

#### Operaciones con fechas en Python usando `pandas`

* Diferencia entre fechas   (por defecto es en días)

In [ ]:
fecha_final = fechas_3[7]     # 7 hace referencia al último elemento del índice creado anteriormente
print(fecha_final)
fecha_inicial = fechas_3[0]   # 0 se refiere al primer elemento del índice
print(fecha_inicial)

fecha_final - fecha_inicial

* Diferencia entre fechas (modificado para meses u otro periodo de tiempo)

In [ ]:
dif_meses = fechas_3[7].to_period('M') - fechas_3[0].to_period('M') 
dif_meses

#### Indexar `dataframe` con objetos de tipo tiempo

In [ ]:
# Datos de los presidente de EUA
datos['start']

In [ ]:
inicio_presidencia = pd.DatetimeIndex(datos['start'])
inicio_presidencia

In [ ]:
Serie_presidentes = pd.Series(datos['president'].values,index=inicio_presidencia)
Serie_presidentes

### 1.4. Filtrado de un `dataframe` según un periodo de tiempo

Consideremos el evento en que se quiere conocer cuales son los presidentes que han tenido los Estados Unidos desde el año 1975. ¿Como podemos lograrlo mediante el uso de Python y el paquete `pandas`?

In [ ]:
filtro = (Serie_presidentes.index >= '1975-01-01')
Serie_presidentes[filtro]

### 1.5. Ayuda para el Desafío propuesto

Consideremos el evento en que se quiere conocer cuales son los presidentes que han tenido los Estados Unidos desde el año 1975. ¿Como podemos lograrlo mediante el uso de Python y el paquete `pandas`?

In [ ]:
Desafio = pd.read_csv("Summer-Olympic-medals-1976-to-2008.csv")
year_datetime = pd.to_datetime(Desafio['Year'], format = '%Y%')
year_datetime