#### PRÁCTICA INTEGRADORA: PANDAS Y SERIES DE TIEMPO
## CoronelB

**Ejercicio 1:**

Con este archivo, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

In [56]:
import pandas as pd

df = pd.read_csv(
    "../dataInput/Summer-Olympic-medals-1976-to-2008.csv",
    encoding = "latin1"
)
result = df.head(100)

In [51]:
print("Check data frame: ")
result

Check data frame:

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [52]:
print("Check columns: ")
columns = result.columns
columns

Check columns:

Index(['City', 'Year', 'Sport', 'Discipline', 'Event', 'Athlete', 'Gender',
       'Country_Code', 'Country', 'Event_gender', 'Medal'],
      dtype='object')

In [68]:
print("Check year column: ")
year = result['Year']
year

Check year column:

0     1976.0
1     1976.0
2     1976.0
3     1976.0
4     1976.0
       ...
95    1976.0
96    1976.0
97    1976.0
98    1976.0
99    1976.0
Name: Year, Length: 100, dtype: float64

In [71]:
# Vamos a pasar la columna Year a formato Fecha:
result['Year'] = pd.to_datetime(result['Year'], format='%Y')

/tmp/ipykernel_48219/2983641337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Year'] = pd.to_datetime(result['Year'], format='%Y')

In [ ]:
print("Check: ")
result['Year']

pd.DatetimeIndex(result['Year']).year

In [ ]:
yearIndex = pd.DatetimeIndex(result['Year']).year
yearIndex

In [ ]:
medals = pd.Series(df['Country'].values,index=yearIndex)
medals

In [ ]:
filter = (medals.index >= 2000)
medals[filter]

**Ejercicio 2:**

Separar nombres de apellidos en dos columnas distintas usando la coma como separador

In [74]:
result['Athlete'].str.split(',',1,expand=True)

            0                     1
0      KÖHLER               Christa
1    KOSENKOV             Aleksandr
2       BOGGS         Philip George
3    CAGNOTTO        Giorgio Franco
4      WILSON        Deborah Keplar
..        ...                   ...
95   BRIGITHA                 Enith
96    SIERING            Laura Gail
97  BABASHOFF        Shirley Farber
98  KOPLYAKOV                Sergei
99    COLELLA   Richard Phillip Jr.

[100 rows x 2 columns]

In [76]:
# Edit data frame
result[['familyname','given']] = df['Athlete'].str.split(',',1,expand=True)

result

/home/braian/Projects/-DataScience/Training/CoderHouse/.conda/envs/CoderHouse/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,familyname,given
0,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976-01-01,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Montreal,1976-01-01,Aquatics,Swimming,100m freestyle,"BRIGITHA, Enith",Women,NED,Netherlands,W,Bronze,BRIGITHA,Enith
96,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"SIERING, Laura Gail",Women,USA,United States,W,Silver,SIERING,Laura Gail
97,Montreal,1976-01-01,Aquatics,Swimming,400m freestyle,"BABASHOFF, Shirley Farber",Women,USA,United States,W,Silver,BABASHOFF,Shirley Farber
98,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"KOPLYAKOV, Sergei",Men,URS,Soviet Union,M,Silver,KOPLYAKOV,Sergei
99,Montreal,1976-01-01,Aquatics,Swimming,200m breaststroke,"COLELLA, Richard Phillip Jr.",Men,USA,United States,M,Bronze,COLELLA,Richard Phillip Jr.

**Ejercicio 3:**

Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

In [91]:
medalsByCountry = result.groupby('Country')['Medal'].count()
countryWithMaxMedals = medalsByCountry.idxmax()
countryWithMaxMedals

'United States'

In [94]:
print("qty medals as max: ", medalsByCountry.get(countryWithMaxMedals))

qty medals as max:  41

In [95]:
print("-------------")

countryWithMinMedals = medalsByCountry.idxmin()
countryWithMinMedals

-------------

'Australia'

In [96]:
print("qty medals as min: ", medalsByCountry.get(countryWithMinMedals))

qty medals as min:  1

**Ejercicio 4:**

Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [99]:
menByYear = result.groupby(["Year", "Gender"]).filter(lambda x: any(x['Gender'] == 'Men'))
menByYear

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,familyname,given
1,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
5,Montreal,1976-01-01,Aquatics,Diving,10m platform,"LOUGANIS, Gregory",Men,USA,United States,M,Silver,LOUGANIS,Gregory
8,Montreal,1976-01-01,Aquatics,Diving,10m platform,"DIBIASI, Klaus",Men,ITA,Italy,M,Gold,DIBIASI,Klaus
9,Montreal,1976-01-01,Aquatics,Diving,10m platform,"ALEINIK, Vladimir",Men,URS,Soviet Union,M,Bronze,ALEINIK,Vladimir
13,Montreal,1976-01-01,Aquatics,Swimming,400m freestyle,"SHAW, Timothy Andrew",Men,USA,United States,M,Silver,SHAW,Timothy Andrew
15,Montreal,1976-01-01,Aquatics,Swimming,1500m freestyle,"HOLLAND, Stephen",Men,AUS,Australia,M,Bronze,HOLLAND,Stephen
16,Montreal,1976-01-01,Aquatics,Swimming,400m individual medley,"SMIRNOV, Andrei",Men,URS,Soviet Union,M,Bronze,SMIRNOV,Andrei
21,Montreal,1976-01-01,Aquatics,Swimming,200m backstroke,"ROCCA, Peter Drake",Men,USA,United States,M,Silver,ROCCA,Peter Drake
22,Montreal,1976-01-01,Aquatics,Swimming,400m freestyle,"GOODELL, Brian Stuart",Men,USA,United States,M,Gold,GOODELL,Brian Stuart
23,Montreal,1976-01-01,Aquatics,Swimming,400m individual medley,"MCKEE, Alexander Timothy",Men,USA,United States,M,Silver,MCKEE,Alexander Timothy
24,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"EVANS, Clayton",Men,CAN,Canada,M,Silver,EVANS,Clayton
25,Montreal,1976-01-01,Aquatics,Swimming,200m freestyle,"MONTGOMERY, James Paul",Men,USA,United States,M,Bronze,MONTGOMERY,James Paul
26,Montreal,1976-01-01,Aquatics,Swimming,100m butterfly,"VOGEL, Matthew Haynes",Men,USA,United States,M,Gold,VOGEL,Matthew Haynes
27,Montreal,1976-01-01,Aquatics,Swimming,100m backstroke,"MATTHES, Roland",Men,GDR,East Germany,M,Bronze,MATTHES,Roland
28,Montreal,1976-01-01,Aquatics,Swimming,100m backstroke,"NABER, John Phillips",Men,USA,United States,M,Gold,NABER,John Phillips
29,Montreal,1976-01-01,Aquatics,Swimming,100m backstroke,"ROCCA, Peter Drake",Men,USA,United States,M,Silver,ROCCA,Peter Drake
30,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"KRAUS, Michael",Men,FRG,West Germany,M,Bronze,KRAUS,Michael
32,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"DUNNE, David Michael",Men,GBR,United Kingdom,M,Bronze,DUNNE,David Michael
33,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"NABER, John Phillips",Men,USA,United States,M,Gold,NABER,John Phillips
35,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"MAC DONALD, Gary",Men,CAN,Canada,M,Silver,MAC DONALD,Gary
36,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"BOGDANOV, Andrei",Men,URS,Soviet Union,M,Silver,BOGDANOV,Andrei
37,Montreal,1976-01-01,Aquatics,Swimming,100m butterfly,"HALL, Gary Wayne",Men,USA,United States,M,Bronze,HALL,Gary Wayne
42,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"MONTGOMERY, James Paul",Men,USA,United States,M,Gold,MONTGOMERY,James Paul
43,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"RASKATOV, Vladimir",Men,URS,Soviet Union,M,Silver,RASKATOV,Vladimir
46,Montreal,1976-01-01,Aquatics,Swimming,100m breaststroke,"YOZAITIS, Arvidas",Men,URS,Soviet Union,M,Bronze,YOZAITIS,Arvidas
48,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"KRYLOV, Andrei",Men,URS,Soviet Union,M,Silver,KRYLOV,Andrei
49,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"DOWNIE, Gordon Hunter",Men,GBR,United Kingdom,M,Bronze,DOWNIE,Gordon Hunter
50,Montreal,1976-01-01,Aquatics,Swimming,200m breaststroke,"WILKIE, David Andrew",Men,GBR,United Kingdom,M,Gold,WILKIE,David Andrew
52,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"MONTGOMERY, James Paul",Men,USA,United States,M,Gold,MONTGOMERY,James Paul
57,Montreal,1976-01-01,Aquatics,Swimming,200m butterfly,"BRUNER, Michael Lee",Men,USA,United States,M,Gold,BRUNER,Michael Lee
59,Montreal,1976-01-01,Aquatics,Swimming,200m backstroke,"NABER, John Phillips",Men,USA,United States,M,Gold,NABER,John Phillips
62,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"SMITH, Graham",Men,CAN,Canada,M,Silver,SMITH,Graham
63,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"VOGEL, Matthew Haynes",Men,USA,United States,M,Gold,VOGEL,Matthew Haynes
67,Montreal,1976-01-01,Aquatics,Swimming,100m butterfly,"BOTTOM, Joseph Stuart",Men,USA,United States,M,Silver,BOTTOM,Joseph Stuart
70,Montreal,1976-01-01,Aquatics,Swimming,200m freestyle,"FURNISS, Bruce Macfarlane",Men,USA,United States,M,Gold,FURNISS,Bruce Macfarlane
72,Montreal,1976-01-01,Aquatics,Swimming,200m butterfly,"GREGG, Steven Garrett",Men,USA,United States,M,Silver,GREGG,Steven Garrett
74,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"MCCLATCHEY, Alan",Men,GBR,United Kingdom,M,Bronze,MCCLATCHEY,Alan
76,Montreal,1976-01-01,Aquatics,Swimming,400m individual medley,"STRACHAN, Rodney",Men,USA,United States,M,Gold,STRACHAN,Rodney
77,Montreal,1976-01-01,Aquatics,Swimming,400m freestyle,"RASKATOV, Vladimir",Men,URS,Soviet Union,M,Bronze,RASKATOV,Vladimir
79,Montreal,1976-01-01,Aquatics,Swimming,1500m freestyle,"GOODELL, Brian Stuart",Men,USA,United States,M,Gold,GOODELL,Brian Stuart
80,Montreal,1976-01-01,Aquatics,Swimming,4x100m medley relay,"PICKELL, Stephen",Men,CAN,Canada,M,Silver,PICKELL,Stephen
81,Montreal,1976-01-01,Aquatics,Swimming,200m backstroke,"HARRIGAN, Daniel Lee",Men,USA,United States,M,Bronze,HARRIGAN,Daniel Lee
84,Montreal,1976-01-01,Aquatics,Swimming,100m freestyle,"MONTGOMERY, James Paul",Men,USA,United States,M,Gold,MONTGOMERY,James Paul
89,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"BRUNER, Michael Lee",Men,USA,United States,M,Gold,BRUNER,Michael Lee
92,Montreal,1976-01-01,Aquatics,Swimming,200m breaststroke,"HENCKEN, John Frederick",Men,USA,United States,M,Silver,HENCKEN,John Frederick
93,Montreal,1976-01-01,Aquatics,Swimming,100m freestyle,"BABASHOFF, Jack, Jr.",Men,USA,United States,M,Silver,BABASHOFF,"Jack, Jr."
98,Montreal,1976-01-01,Aquatics,Swimming,4x200m freestyle relay,"KOPLYAKOV, Sergei",Men,URS,Soviet Union,M,Silver,KOPLYAKOV,Sergei
99,Montreal,1976-01-01,Aquatics,Swimming,200m breaststroke,"COLELLA, Richard Phillip Jr.",Men,USA,United States,M,Bronze,COLELLA,Richard Phillip Jr.

In [100]:
menByYear = menByYear.groupby("Year")['Medal'].count()
menByYear

Year
1976-01-01    50
Name: Medal, dtype: int64